

<h1>Login</h1>
<% if (messages.error) {%>
    <%= messages.error %>

<%} %>

<form action="/login" method="POST">
    
    <div>
        <input type="email" placeholder="Your email" name="email" required>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
    </div>

    <button type="submit">Login</button><a href="/register">Register</button>
</form>