<h1>Register</h1>
<form action="/register" method="POST">
    <div>
        <input type="text" placeholder="Your name" name="name" required>
    </div>

    <div>
        <input type="email" placeholder="Your email" name="email" required>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
    </div>

    <button type="submit">Send Register</button><button><a href="/login">LOGIN</a></button>
</form>